<div style="border: 1px solid black; padding: 1em;">
	<h1>Timeless</h1>
	<div class="m-coursecontent-table-outer">
		<table>
			<thead>
				<tr>
					<th>Week of</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Total</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<form method="post" action="/update">
				<tbody>
					<tr>
						<td><input placeholder="mm/dd/yyyy" required=""
							value="{{ dateString }}" name="date" type="date"></td>
						<td><input value="{{mondayHours}}" name="mondayHours"
							type="number"></td>
						<td><input value="{{tuesdayHours}}" name="tuesdayHours"
							type="number"></td>
						<td><input value="{{wednesdayHours}}" name="wednesdayHours"
							type="number"></td>
						<td><input value="{{thursdayHours}}" name="thursdayHours"
							type="number"></td>
						<td><input value="{{fridayHours}}" name="fridayHours"
							type="number"></td>
						<td>Total:{{ totalHours }} <!-- <input type="hidden" name="id" value="{{ id }}"> --></td>

						<td><button name="formButtons" value="update">Update</button></td>
						<td><button name="formButtons" value="submit">Submit</button></td>
					</tr>
				</tbody>
			</form>
		</table>
	</div>
	<div class="m-coursecontent-table-outer">
		<table>
			<thead>
				<tr>
					<th>Week of</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Total</th>
				</tr>
			</thead>
			{{#hasTimeEntries}}
			<tbody>
				{{#timeEntryItems}}
				<tr>
					<td>{{ dateString }}</td>
					<td>{{ mondayHours }}</td>
					<td>{{ tuesdayHours }}</td>
					<td>{{ wednesdayHours }}</td>
					<td>{{ thursdayHours }}</td>
					<td>{{ fridayHours }}</td>
					<td>{{ totalHours }}</td>
				</tr>
				{{/timeEntryItems}}
			</tbody>
			{{/hasTimeEntries}}
		</table>
	</div>
</div>